# Backend API URL (Include /api at the end)
# For local: http://localhost:5012/api
# For Vercel: https://your-backend-name.vercel.app/api
VITE_API_URL=http://localhost:5012/api

# Socket.io URL (Usually the base URL of the backend)
# For local: http://localhost:5012
# For Vercel: https://your-backend-name.vercel.app
VITE_SOCKET_URL=http://localhost:5012
